<a href="https://colab.research.google.com/github/JuniorTorresMTJ/-Exercises-_of_Python/blob/master/BaseCompletaEnem2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Base ENEM 2019

Como a base do Enem é incrívelmente grande, fiz a quebra de acordo com o dicionário dos Microdados do ENEM 2019, assim, ao invés de criar um data frame com todas as colunas, você pode criar um data frame específico, somente com as colunas que deseja trabalhar e ainda, pode juntar os dados de mais de um data frame, pois todos eles tem a coluna NU_INSCRICAO que serve como chave.

A função abaixo acessa os arquivos compartilhados no meu Google Drive e retorna o data frame. 

Para funcionar adequadamente, na primeira vez que rodar, a função vai pegar suas credenciais do google.colab e solicitar acesso. Depois o acesso for liberado, ele executará normalmente.

In [ ]:
import pandas as pd
import io
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth
from googleapiclient.discovery import build

auth.authenticate_user()
drive_service = build('drive', 'v3')

def criaDataFrameEnem(nomeDataFrame):
  '''Possíveis nomes de DataFrames:\n
  'AtendimentoEspecializado'\n
  'DadosEscola'\n
  'DadosParticipantes'\n
  'Prova'\n
  'SocioEconomico'\n
  'MunicipiosBrasilIBGE'\n
  '''
  arquivosCompartilhados= {'AtendimentoEspecializado' : '1GI8eFwJrNeQsw8yhwGPvNj-ooW19rcJs','DadosEscola' : '1OrK2NptDQHnKocM4-A5e9Dw5c5pVCnMs','DadosParticipantes' : '1qy4iZzntPwsFF4C_Jh8xQMkaNtP3OWwq','ProvaDados' : '1I5fvOsfUC2krlTtR4DL6CZfohnKD04-h', 'ProvaGabaritoRespostas' : '1wb_yTKtYV-3Ix6fvLSQIyfQStT3aMHZ2', 'SocioEconomico' : '13G9_DC5qz_tgmPg3C-8BriCnfEv2-Akp','MunicipiosBrasilIBGE' : '1cMreS5-ExCHzIFpopliRUuKzQtKK-pVE'}
  url= 'https://drive.google.com/uc?export=download&confirm=Z0Is&id={}'.format(arquivosCompartilhados[nomeDataFrame])
  request = drive_service.files().get_media(fileId=arquivosCompartilhados[nomeDataFrame])
  downloaded = io.BytesIO()
  downloader = MediaIoBaseDownload(downloaded, request)
  done = False
  while done is False:
    _, done = downloader.next_chunk()
  downloaded.seek(0)
  s=str(downloaded.read(),'utf-8')
  data = io.StringIO(s)
  return pd.read_csv(data)

## Carregando os DataFrames:

Os códigos abaixo mostram como carrergar o data frame escolhido em uma variável

In [ ]:
dfAtendimentoEspecializado = criaDataFrameEnem('AtendimentoEspecializado')
print(type(dfAtendimentoEspecializado),dfAtendimentoEspecializado.shape,dfAtendimentoEspecializado.head(),sep='\n')

<class 'pandas.core.frame.DataFrame'>
(5095270, 52)
   NU_INSCRICAO  IN_ACESSO  ...  IN_TRANSCRICAO  IN_VISAO_MONOCULAR
0  190001004627          0  ...               0                   0
1  190001004628          0  ...               0                   0
2  190001004629          0  ...               0                   0
3  190001004630          0  ...               0                   0
4  190001004631          0  ...               0                   0

[5 rows x 52 columns]

In [ ]:
dfAtendimentoEspecializado = None
dfDadosEscola = criaDataFrameEnem('DadosEscola')
print(type(dfDadosEscola),dfDadosEscola.shape,dfDadosEscola.head(),sep='\n')

<class 'pandas.core.frame.DataFrame'>
(5095270, 9)
   NU_INSCRICAO   CO_ESCOLA  ...  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC
0  190001004627         NaN  ...                 NaN              NaN
1  190001004628         NaN  ...                 NaN              NaN
2  190001004629  15230023.0  ...                 1.0              1.0
3  190001004630  15027635.0  ...                 1.0              1.0
4  190001004631         NaN  ...                 NaN              NaN

[5 rows x 9 columns]

In [ ]:
dfDadosEscola = None
dfDadosParticipantes = criaDataFrameEnem('DadosParticipantes')
print(type(dfDadosParticipantes),dfDadosParticipantes.shape,dfDadosParticipantes.head(),sep='\n')

<class 'pandas.core.frame.DataFrame'>
(5095270, 20)
   NU_INSCRICAO  CO_MUNICIPIO_NASCIMENTO  ...  TP_SEXO  TP_ST_CONCLUSAO
0  190001004627                      NaN  ...        M                1
1  190001004628                1505502.0  ...        F                3
2  190001004629                1505502.0  ...        F                2
3  190001004630                1501402.0  ...        M                2
4  190001004631                1503903.0  ...        M                1

[5 rows x 20 columns]

In [ ]:
dfDadosParticipantes = None
dfProvaDados = criaDataFrameEnem('ProvaDados')
print(type(dfProvaDados),dfProvaDados.shape,dfProvaDados.head(),sep='\n')

<class 'pandas.core.frame.DataFrame'>
(5095270, 25)
   NU_INSCRICAO  CO_MUNICIPIO_PROVA  ...  TP_PRESENCA_MT  TP_STATUS_REDACAO
0  190001004627             1506807  ...               1                1.0
1  190001004628             1504059  ...               1                1.0
2  190001004629             1505502  ...               1                1.0
3  190001004630             1507706  ...               0                NaN
4  190001004631             1503903  ...               0                NaN

[5 rows x 25 columns]

In [ ]:
dfProvaDados = None
dfProvaGabaritoRespostas = criaDataFrameEnem('ProvaGabaritoRespostas')
print(type(dfProvaGabaritoRespostas),dfProvaGabaritoRespostas.shape,dfProvaGabaritoRespostas.head(),sep='\n')

<class 'pandas.core.frame.DataFrame'>
(5095270, 9)
   NU_INSCRICAO  ...                                TX_RESPOSTAS_MT
0  190001004627  ...  ADBBDEDCABCEDCACBECDCCEBCCDBEBDCEDDBCDBCCDECC
1  190001004628  ...  DACCCBDCCCBACCCCEEEBBBEACCAABDBACDCAECABCCDBE
2  190001004629  ...  DECCABCBCDBBBEAECBDBBCDDAADEBCBCACBBEDADDEEAC
3  190001004630  ...                                            NaN
4  190001004631  ...                                            NaN

[5 rows x 9 columns]

In [ ]:
dfProvaGabaritoRespostas = None
dfSocioEconomico = criaDataFrameEnem('SocioEconomico')
print(type(dfSocioEconomico),dfSocioEconomico.shape,dfSocioEconomico.head(),sep='\n')

<class 'pandas.core.frame.DataFrame'>
(5095270, 26)
   NU_INSCRICAO Q001 Q002 Q003 Q004  Q005  ... Q020 Q021 Q022 Q023 Q024 Q025
0  190001004627    D    E    A    A     7  ...    B    A    D    A    B    A
1  190001004628    D    E    A    A     5  ...    B    A    B    A    A    A
2  190001004629    H    E    A    D     3  ...    B    B    D    A    C    B
3  190001004630    D    D    A    B     3  ...    A    A    D    A    A    A
4  190001004631    B    C    A    A     5  ...    A    A    D    A    A    A

[5 rows x 26 columns]

In [ ]:
dfSocioEconomico = None
dfMunicipiosBrasilIBGE = criaDataFrameEnem('MunicipiosBrasilIBGE')
print(type(dfMunicipiosBrasilIBGE),dfMunicipiosBrasilIBGE.shape,dfMunicipiosBrasilIBGE.head(),sep='\n')

<class 'pandas.core.frame.DataFrame'>
(5570, 9)
   Código Município Completo   Nome_UF  ... Sigla Região
0                    1100015  Rondônia  ...    RO  Norte
1                    1100379  Rondônia  ...    RO  Norte
2                    1100403  Rondônia  ...    RO  Norte
3                    1100346  Rondônia  ...    RO  Norte
4                    1100023  Rondônia  ...    RO  Norte

[5 rows x 9 columns]

In [ ]:
## Juntando as Informações:

Caso você queria informações que estejam em 2 ou mais data frames diferentes, pode fazer um merge dos data frames desta forma

In [ ]:
dfDadosEscola = criaDataFrameEnem('DadosEscola')
dfDadosParticipantes = criaDataFrameEnem('DadosParticipantes')
dfParticipantesEEscola = pd.merge(dfDadosParticipantes, dfDadosEscola,on = 'NU_INSCRICAO')
print(type(dfParticipantesEEscola),dfParticipantesEEscola.shape,dfParticipantesEEscola.head(),sep='\n')

<class 'pandas.core.frame.DataFrame'>
(5095270, 28)
   NU_INSCRICAO  CO_MUNICIPIO_NASCIMENTO  ...  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC
0  190001004627                      NaN  ...                 NaN              NaN
1  190001004628                1505502.0  ...                 NaN              NaN
2  190001004629                1505502.0  ...                 1.0              1.0
3  190001004630                1501402.0  ...                 1.0              1.0
4  190001004631                1503903.0  ...                 NaN              NaN

[5 rows x 28 columns]