<a href="https://colab.research.google.com/github/JuniorTorresMTJ/-Exercises-_of_Python/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criação e Manipulação de Series

In [12]:
import pandas as pd
from pandas import Series

Verificando a Versão do Pandas

In [13]:
pd.__version__

'1.0.5'

Criando uma Series com Index automatico

In [17]:
obj = pd.Series([67,78,-56, 13])

In [18]:
obj

0    67
1    78
2   -56
3    13
dtype: int64

Verificando o tipo da Serie

In [19]:
type(obj)

pandas.core.series.Series

Verificando os Valores da Serie

In [23]:
obj.values

array([ 67,  78, -56,  13])

Imprimindo os Index

In [24]:
obj.index

RangeIndex(start=0, stop=4, step=1)

Especificando os valores e os Index

In [25]:
obj2= Series([67,78,-56,13], index = ['a','b','c','d'])

In [26]:
obj2

a    67
b    78
c   -56
d    13
dtype: int64

Mostrando os Valores

In [27]:
obj.values

array([ 67,  78, -56,  13])

Fazendo um Filtro e mostrando todos os valores maiores que 3

In [29]:
obj2[obj2>3]

a    67
b    78
d    13
dtype: int64

Mostrar o Valor no indice B

In [30]:
obj2['b']

78

outra forma de fazer uma consulta

In [31]:
'd' in obj2

True

Criando um Dicionário

In [32]:
dict = {'Futebol':5200, 'Tenis': 120, 'Natação': 698, 'Voleibol': 1550}

In [35]:
obj3 = Series(dict)

In [36]:
obj3

Futebol     5200
Tenis        120
Natação      698
Voleibol    1550
dtype: int64

Verificando o tipo

In [37]:
type(obj3)

pandas.core.series.Series

In [38]:
esportes = ['Futebol','Tenis','Natação','Handbol']

Criando uma série com o indice "esportes"

In [39]:
obj4 = Series(dict, index = esportes)

In [40]:
obj4

Futebol    5200.0
Tenis       120.0
Natação     698.0
Handbol       NaN
dtype: float64

Verificados os valores Null

In [42]:
pd.isnull(obj4)

Futebol    False
Tenis      False
Natação    False
Handbol     True
dtype: bool

Verificando os não nulos

In [43]:
pd.notnull(obj4)

Futebol     True
Tenis       True
Natação     True
Handbol    False
dtype: bool

Outra maneira de verificar

In [44]:
obj4.isnull()

Futebol    False
Tenis      False
Natação    False
Handbol     True
dtype: bool

Concatenando Series

In [45]:
obj3 + obj4

Futebol     10400.0
Handbol         NaN
Natação      1396.0
Tenis         240.0
Voleibol        NaN
dtype: float64

Mudando o título

In [46]:
obj4.name = 'população'

mudando o título do indice

In [47]:
obj4.index.name = 'esporte'

In [48]:
obj4

esporte
Futebol    5200.0
Tenis       120.0
Natação     698.0
Handbol       NaN
Name: população, dtype: float64

# Criando e Manipulando um DataFrame

In [49]:
from pandas import DataFrame

Criando um DataFrame

In [50]:
data = {'Estado': ['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'], 
        'Ano': [2002, 2003, 2004, 2005, 2006], 
        'População': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [51]:
frame = DataFrame(data)

Mudando os títulos das Colunas

In [52]:
DataFrame(data, columns=['Ano', 'Estado','População'])

    Ano          Estado  População
0  2002  Santa Catarina        1.5
1  2003          Paraná        1.7
2  2004           Goiás        3.6
3  2005           Bahia        2.4
4  2006    Minas Gerais        2.9

Criando outro DataFrame

In [54]:
frame2 = DataFrame(data, columns = ['Ano', 'Estado', 'População', 'Débito'], 
                   index = ['um', 'dois', 'três', 'quatro', 'cinco'])

Imprimindo o DataFrame

In [55]:
frame2

         Ano          Estado  População Débito
um      2002  Santa Catarina        1.5    NaN
dois    2003          Paraná        1.7    NaN
três    2004           Goiás        3.6    NaN
quatro  2005           Bahia        2.4    NaN
cinco   2006    Minas Gerais        2.9    NaN

Pegando os dados da coluna Estado

In [56]:
frame2['Estado']

um        Santa Catarina
dois              Paraná
três               Goiás
quatro             Bahia
cinco       Minas Gerais
Name: Estado, dtype: object

Verificando o tipo do DataFrame

In [57]:
type(frame2)

pandas.core.frame.DataFrame

Verificando o Index

In [58]:
frame2.index

Index(['um', 'dois', 'três', 'quatro', 'cinco'], dtype='object')

Verificando as Colunas

In [60]:
frame2.columns

Index(['Ano', 'Estado', 'População', 'Débito'], dtype='object')

Verificando os Valores

In [61]:
frame2.values

array([[2002, 'Santa Catarina', 1.5, nan],
       [2003, 'Paraná', 1.7, nan],
       [2004, 'Goiás', 3.6, nan],
       [2005, 'Bahia', 2.4, nan],
       [2006, 'Minas Gerais', 2.9, nan]], dtype=object)

Vendo os Tipos de dados de cada coluna

In [62]:
frame.dtypes

Estado        object
Ano            int64
População    float64
dtype: object

Vendo apenas os dados da coluna Ano

In [64]:
frame2['Ano']

um        2002
dois      2003
três      2004
quatro    2005
cinco     2006
Name: Ano, dtype: int64

Vendo de outra forma

In [65]:
frame2.Ano

um        2002
dois      2003
três      2004
quatro    2005
cinco     2006
Name: Ano, dtype: int64

Fazendo Slicing

In [66]:
frame2[:2]

       Ano          Estado  População Débito
um    2002  Santa Catarina        1.5    NaN
dois  2003          Paraná        1.7    NaN

FIM